{% extends "base.html" %}

{% block auth %}
            <span>{{ first_name }} {{ last_name }}</span><a href="{% url logout %}">Logout</a>
{% endblock %}

{% block main_layout %}
    <div id="main_menu">
        <h1>Your virtual machines:</h1>
        <ul>
            <li>VM1-Ubuntu-10.10-Openvz</li>
            <li>VM2-OpenBSD-4.3</li>
        </ul>
    </div>
    <div id="sub_container">
        <div id="sub_menu">
            <ul class="horiz-menu">
                <li>General</li>
                <li>Domain names</li>
                <li>Run state</li>
                <li><a href="{% url certs %}">OpenVPN certificates</a></li>
                <li>Firewall rules</li>
                <li>Statistics</li>
            </ul>
        </div>
        <div id="content">
            {% block content %}<p>Main content goes here!</p>{% endblock %}
        </div>
    </div>
{% endblock %}
